# Created by .ignore support plugin (hsz.mobi)

.idea/.name
.idea/libraries/Maven__com_alibaba_fastjson_1_2_31.xml
.idea/libraries/Maven__com_baomidou_dynamic_datasource_spring_boot_starter_2_5_4.xml
.idea/libraries/Maven__com_baomidou_mybatis_plus_generator_3_1_0.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_9_10.xml
.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
.idea/libraries/Maven__org_assertj_assertj_core_3_11_1.xml
.idea/libraries/Maven__org_freemarker_freemarker_2_3_28.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Maven__org_mockito_mockito_core_2_23_4.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_freemarker_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_6_2.xml
logging.path_IS_UNDEFINED/
.idea/workspace.xml
/.idea/
/agile_demo.iml
